<% provide(:title, t('about.page_title')) %>
<h1><%= t('about.page_header') %></h1>
<div class="cl-article">

<p>
<strong>
Portál Knihovny.cz je výsledkem několikaletého vývoje směřujícího k vytvoření centrálního 
místa, kde můžete současně prohledávat katalogy knihoven z celé České republiky. Cílem 
bylo najít řešení, díky němuž snadno získáte knihu či informace, aniž byste danou knihovnu 
museli navštívit nebo složitě vyhledávat v databázích každé jednotlivé knihovny.
</strong>
</p>

<p>
Portál Knihovny.cz je odpovědí na současná očekávání a potřeby vás, uživatelů knihoven. 
Široké veřejnosti, ale i studentům a vědcům nabízí nejjednodušší cestu, jak se dostat k 
informacím, které potřebují, a to snadno a rychle v uživatelsky přátelském a moderním 
prostředí.
</p>

<h2>Co vám portál Knihovny.cz nabízí?</h2>
<p>
Knihovny.cz jsou jedinou službou, která vám umožňuje prohledávat rozsáhlé fondy a 
využívat kompletní servis všech zapojených knihoven z jedné webové stránky. Představuje 
moderní virtuální knihovnu, která je vaším vstupem do komplexního systému knihoven 
v České republice. Na portálu můžete vyhledávat, objednávat, stahovat a přehrávat vše, co 
potřebujete, ať už se jedná o tištěné knihy, e-knihy, audio nahrávky či články. 
Pro české knihovny to představuje významný krok. Doposud se totiž čtenář setkával s řadou 
různých databází, informačních zdrojů a služeb, které byly rozptýlené, a tedy nepříliš snadno 
dostupné. Byli jste nuceni prohledávat katalogy a databáze knihoven v různých prostředích, 
která nemusí být vždy uživatelsky přátelská a mohou odrazovat svou složitostí. Mnohdy tak 
nebylo snadné plně využít informační potenciál, kterým české knihovny disponují. 
<strong>
Portál Knihovny.cz představuje snadnou cestu, jak se můžete dostat k titulům či informacím, 
které hledáte, pohodlně na jednom místě.
</strong>
</p>


<h2>Vyhledávání a dostupnost titulů</h2>

<p>
<strong>
Portál Knihovny.cz zobrazuje informace o tom, ve které knihovně se hledaný dokument 
nachází, ale také zda si jej můžete vypůjčit, zarezervovat, případně stáhnout 
v elektronické podobě.
</strong>
</p>
<p>
Struktura centrální knihovny vám umožňuje využívat řadu služeb tam, kde to dříve nebylo 
možné. Pokud je hledaný dokument přítomný alespoň v jedné ze zapojených knihoven, 
máte možnost si jej objednat do knihovny, kterou si sami zvolíte, nebo stáhnout jako 
elektronický dokument, a to z pohodlí domova, zaměstnání nebo například kavárny. Zároveň 
můžete využívat i další služby, které byly dosud nabízené pouze ve vzdálených či větších 
knihovnách. 
<strong>
Projekt Knihovny.cz významným způsobem překonává bariéry, které vznikají 
díky vzdálenosti mezi místem, kde se nacházíte, a knihovnou, jejíž fondy či služby chcete 
využívat. 
</strong>
</p>
<p>
Jedním z přínosů portálu Knihovny.cz je komfortní přístup k elektronickým zdrojům, aniž 
byste navštěvovali nebo prohledávali různé stránky. Vyhledávání vám usnadní také online 
knihovník, který vám prostřednictvím chatu ochotně poradí.    
</p>

<h2>Služby pro přihlášené uživatele</h2>
<p>
<strong>
Vyhledávat na portálu knihy, časopisy nebo elektronické zdroje můžete i bez přihlášení. 
Pokud se však přihlásíte prostřednictvím vašeho platného čtenářského průkazu z kterékoli 
zapojené knihovny, získáváte mnohem více možností, jak služby portálu využívat. 
</strong>
</p>

<p>
Jako přihlášený uživatel můžete přistupovat k širší nabídce zdrojů, stahovat je do počítače, 
objednávat si dokumenty nebo využívat meziknihovní výpůjční službu. Portál Knihovny.cz 
vám umožňuje propojení vašich účtů v knihovnách, kde máte platnou registraci, a 
přihlašovat se pouze jedním uživatelským jménem a heslem.
</p>
 
<p>
Přihlašování stejným jménem a heslem do všech knihoven integrovaných na portálu 
Knihovny.cz není však jedinou výhodou. Testuje se také využití služby mojeID, díky níž se 
budete moci zaregistrovat přes internet odkudkoli a kdykoli, aniž byste museli knihovnu 
fyzicky navštívit. Služba mojeID umožní také za poskytované knihovnické služby platit online 
podobně, jak to známe například z internetových obchodů. 
</p>

<h2>Co dalšího portál Knihovny.cz nabízí</h2>
<p>
Knihovny jsou často vnímány jako instituce určené pouze k půjčování knih. Knihovny vám 
však nabízí celou řadu nových služeb, zejména v digitálním prostředí. Portál Knihovny.cz 
soustřeďuje aktuální informace o českých knihovnách, jejich službách a aktivitách na 
centrální úrovni. 
<strong>
Nyní vám stačí navštívit jediný web, abyste se dozvěděli o akcích a 
<%= link_to "službách", services_path %>
knihoven po celé České republice. 
</strong>
Spojení služeb českých knihoven pod společný portál vám pomůže snadno se zorientovat v 
nabídkách a činnostech, které české knihovny poskytují, a lépe využívat jejich informační 
zdroje.
</p>

<h2>Jak portál Knihovny.cz vznikl</h2>

<p>
Jednoduchý a efektivní přístup k informačním zdrojům pro každého je hlavním smyslem 
celého projektu. Jeho zakládajícími členy je skupina 22 knihoven (krajské, specializované, 
městské) a Sdružení knihoven České republiky. Počet spolupracujících institucí se postupně 
dále rozrůstá. 
</p>

<p>
Centrální portál knihoven vznikl jako součást Koncepce rozvoje knihoven v České republice 
na léta 2011–2015 a je financován z grantových programů Ministerstva kultury České 
republiky. Metodika vytváření portálu je společným dílem zejména velkých knihoven 
(Moravská zemská knihovna, Městská knihovna v Praze, Knihovna Akademie věd České 
republiky, Národní knihovna), neméně důležitý význam má však i zapojení menších 
knihoven, které pomáhají hlavně s testováním funkcí portálu.
</p>

<p>
V české knihovní síti již spolehlivě funguje řada projektů zaměřených na vzájemné propojení 
zdrojů. Jedná se zejména o Jednotnou informační bránu a Souborný katalog ČR. Tato řešení 
však mají odlišné cíle a jejich role zůstává nadále zachována. Portál Knihovny.cz přináší pro 
čtenáře odlišné funkcionality. 
</p>

<p>
Centrální portál knihoven přibližuje celé české knihovnictví trendu, který je patrný v západní 
Evropě. Ať už se jedná o finské portály Finna.fi, systém Swissbib.ch, dánský Bibliotek.dk či 
nizozemský Bibliotheek.nl. Všechny tyto projekty mají společný cíl: zjednodušit přístup 
k informacím a dokumentům a nabídnout fondy knihoven včetně jejich služeb na jednom 
místě. 
</p>

Přečtěte si více o <%= link_to "knihovnách zapojených", founders_path %> do 
portálu Knihovny.cz nebo o 
<%= link_to "důležitých milnících vývoje", milestones_path %>
portálu.
</div>