<% provide(:title, t('children.page_title')) %>
<h1><%= t('children.page_header') %></h1>
<div class="cl-article">

<h2>Noc s Andersenem</h2>

<p>
<strong>
	Večerní pohádkové čtení s názvem Noc a Andersenem je tradiční mezinárodní akcí,
	láká do knihoven zejména dětské čtenáře a posluchače. Během ní mohou zažít řadu 
	dobrodružství s pohádkovými postavami, setkat se s oblíbenými spisovateli, poslechnout si 
	čtení pohádek a vyprávění, zúčastnit se soutěží a her či zasadit strom Pohádkovník. Ti 
	nejodváženější pak v knihovně přenocují a zavrtaní ve spacácích mezi policemi knih 
	poslouchají čtení na dobrou noc.
</strong>
</p>

<p>
	<a href="http://www.nocsandersenem.cz/">Noc s Andersenem</a>
	je originální a velkolepá oslava Mezinárodního dne dětské knihy. Ten 
	připadá každoročně na 2. dubna, což je zároveň výročí narození dánského pohádkáře Hanse 
	Christiana Andersena. Nápad se zrodil v knihovně v Uherském Hradišti, kde také proběhla 
	první Noc s Andersenem na přelomu 31. března a 1. dubna roku 2000.
</p>

<p>
	Její obliba se rychle rozšířila po celé České republice a pronikla i za naše hranice – kouzlo 
	společného nocování v knihovně prožívají tisíce dětí v Polsku, Slovensku, Rakousku, 
	Slovinsku a Německu. Vedle veřejných knihoven se akce účastní i školní knihovny, školy, 
	školky, domy dětí, občanská sdružení a další instituce. 
</p>

<p>
	Téma každého ročníku se většinou pojí s výročím narození významného autora nebo 
	ilustrátora knih pro děti. Pro všechny malé čtenáře chystají knihovny pestrý program, který 
	si daná knihovna připravila. Děti stráví noc čtením, vyprávěním nebo povídáním se 
	spisovateli, zpívají a tančí, shlédnou divadelní představení nebo mohou prožít pohádkovou 
	noc ve společenství knih a příběhů na dobrou noc. Zažít Noc s Andersenem mohou i ti, kteří 
	zrovna v knihovnách a školách přenocovat nemohou, a to prostřednictvím vysílání Českého 
	rozhlasu.
</p>

<p>
	V některých knihovnách probíhá sázení Pohádkovníků Andersenových, což je strom 
	zasazený během Noci s Andersenem v okolí knihovny. První sázení proběhlo na jaře 2005 u 
	příležitosti 200. výročí narození dánského spisovatele.
</p>

<p>
	V roce 2015 se pohádkové noci s Andersenem účastnilo již více než 90 000 dětí. Autorky 
	nápadu, knihovnice Hana Hanáčková a Miroslava Čápová, za něj obdržely několik cen a 
	v roce 2013 převzaly také významné ocenění dánského Výboru Hanse Christiana Andersena.
</p>



<h2>Den pro dětskou knihu</h2>

<p>
<strong>
	Na začátku adventu se malí návštěvníci knihoven mohou těšit na 
	<a href="http://www.dendetskeknihy.cz/">Den pro dětskou knihu</a>. 
	V rámci něj propagují knihovny v České republice nové dětské knihy, čtení a čtenářství. 
	Zároveň připomínají, že mají dětským a mladým čtenářům co nabídnout. Pro děti a jejich 
	rodiče je vždy připraven pestrý zábavný program.
</strong>
</p>

<p>
	Tento den se již nese v duchu předvánoční nálady a nabízí tak inspiraci pro výběr krásného 
	knižního dárku pod stromeček.
</p>

<p>
	Na programu jsou například předvánoční prodej dětských knih, poslech audionahrávek, 
	autorská čtení, výstavy dětských prací, výtvarné soutěže, dětská vystoupení a divadla. V řadě 
	knihoven probíhá den otevřených dveří, přihlašování nových dětských čtenářů a další
	aktivity, které přilákají netradičním způsobem děti i jejich rodiče do knihoven.
</p>

<p>
O akcích knihoven pro všechny čtenáře (nejen děti) si můžete přečíst 
<%= link_to "zde", readers_path %>.
</p>

</div>