<% provide(:title, t('founders.page_title')) %>
<h1><%= t('founders.page_header') %></h1>
<div class="cl-article">

<p>
	Portál Knihovny.cz a projekt samotný vznikl díky spolupráci dvou desítek krajských,
	specializovaných a městských knihoven a Sdružení knihoven České republiky. Další 
	knihovny jsou zapojeny v roli partnerů. Ambicí portálu Knihovny.cz je propojit v blízké 
	době většinu knihoven v České republice.
<p>

<h2>Zakládající knihovny jsou:</h2>
<ul>
	<li>Jihočeská vědecká knihovna v Českých Budějovicích</li>
	<li>Knihovna Akademie věd ČR</li>
	<li>Krajská knihovna Františka Bartoše ve Zlíně</li>
	<li>Krajská knihovna Karlovy Vary</li>
	<li>Krajská knihovna v Pardubicích</li>
	<li>Krajská knihovna Vysočiny</li>
	<li>Krajská vědecká knihovna v Liberci</li>
	<li>Městská knihovna Česká Třebová</li>
	<li>Městská knihovna Kutná Hora</li>
	<li>Městská knihovna Tábor</li>
	<li>Městská knihovna v Praze</li>
	<li>Moravská zemská knihovna</li>
	<li>Moravskoslezská vědecká knihovna v Ostravě</li>
	<li>Národní knihovna ČR</li>
	<li>Národní lékařská knihovna</li>
	<li>Národní technická knihovna</li>
	<li>Severočeská vědecká knihovna v Ústí nad Labem</li>
	<li>Středočeská vědecká knihovna v Kladně</li>
	<li>Studijní a vědecká knihovna Plzeňského kraje</li>
	<li>Studijní a vědecká knihovna v Hradci Králové</li>
	<li>Ústav mezinárodních vztahů – knihovna</li>
	<li>Vědecká knihovna v Olomouci</li>
</ul>
<p>
	Zakládající knihovny se intenzivně podílejí na přípravě celého portálu. Jednak vysílají své 
	odborníky do pracovních skupin, v nichž se řeší dílčí úkoly při realizaci portálu, poskytují 
	praktické připomínky k jednotlivým fázím vývoje projektu a také postupně integrují své 
	fondy do databáze centrálního portálu Knihovny.cz.
</p>

<h2>Partnerské knihovny</h2>
<p>
	Dalšími partnery portálu Knihovny.cz jsou některé univerzitní knihovny. Připojení plánují až v 
	pozdější fázi, kdy portál Knihovny.cz nabídne uživatelům rozšířené služby nad rámec 
	stávajících knihovních systémů. Spolupracujících knihoven je v současnosti pět, a to:
</p>
<ul>
	<li>Univerzita Tomáše Bati ve Zlíně – knihovna</li>
	<li>Masarykova Univerzita – Knihovnicko-informační centrum</li>
	<li>Univerzita Palackého v Olomouci – knihovna</li>
	<li>Masarykova veřejná knihovna Vsetín</li>
	<li>Knihovna Národního muzea</li>
</ul>

<h2>Technický vývoj portálu</h2>
<p>
	Moravská zemská knihovna je zakládajícím členem a zároveň architektem první funkční 
	verze portálu Knihovny.cz. Díky bohatým zkušenostem s provozem knihovních systémů, 
	mezi něž patří i velmi úspěšný projekt ČístBrno.cz propojující brněnské knihovny, mohla 
	Moravská zemská knihovna poskytnout řešení, které nejvíce odpovídá záměru centrálního 
	portálu Knihovny.cz. Od počátku roku 2015 zde intenzivně pracuje vývojový tým. Portál však 
	může díky otevřenému zdrojovému kódu a volné licenci rozvíjet kterýkoli subjekt, což 
	zajišťuje dlouhodobou udržitelnost celého projektu.
</p>

</div>