<% provide(:title, t('title_home')) %>
<div class="cl-home">
  

  <div class="cl-search-label">Hledat v titulech</div>
  <div class="cl-search">
    <form role="search" id="search-form" method="get" action="https://beta.knihovny.cz/Search/Results">
        <input placeholder="Zadejte název nebo autora" class="form-control search-query ui-autocomplete-input cl-search-input" id="search-query" type="text" name="lookfor" autofocus="" autocomplete="off" spellcheck="false">
        <input type="hidden" name="type" value="AllFields">
        <button type="submit" id="search-submit" class="search-me btn btn-primary cl-search-submit">Hledat</button>
        <input type="hidden" name="limit" value="20">
        <input type="hidden" name="sort" value="relevance">
    </form>
  </div>

  <div class="cl-events">
    <div class="cl-title">Nadcházející akce</div>
    <% @events.each do |event| %>      
        <%= link_to event.url, :target => "_blank" do %>
          <div class="cl-event">
            <span class="cl-event-date"><%= event.date.strftime("%d.%m.%Y") %></span>
            <span class="cl-event-title"><%= event.title %></span>            
          </div>
        <% end %> 
    <% end %>
    <div style="margin-top:5px">
      <%= link_to "Více akcí", events_path %>
    </div>
  </div>


  <div class="cl-psk">
    <div class="cl-title">Ptejte se knihovny</div>
    <div class="row">
      <div class="col-md-6">
        <div class="cl-question">
          Zvuk v hrnečku s kakaem
        </div>
        <div class="cl-question-body">
          Do hrnečku vlijete horké mléko, vsypete kakao a zamícháte. Pokud lžičku nevyndáte, ale budete s ní jemně ťukat o dno, bude se v čase postupně měnit vydávaný zvuk. Dokážete určit, zda bude tón klesat či stoupat? A zdůvodnit proč přesně?
        </div>
        <a href="http://www.ptejteseknihovny.cz/dotazy/proc-duni-kakao">Zobrazit odpověď knihovny</a>
      </div>

      <div class="col-md-2" style="height:10px;"></div>

      <div class="col-md-4">
      <div>
        <div class="cl-btns">
          <a href="http://www.ptejteseknihovny.cz/" class="btn btn-primary cl-btn">Položit dotaz</a>
          <a href="http://www.ptejteseknihovny.cz/archiv" class="btn btn-info cl-btn">Archiv dotazů</a>
        </div>
        <div class="cl-text">
          Odborná odpověď zdarma do 48 hodin na váš e-mail.
        </div>
        <div class="cl-text">             
          Službu zajišťuje projekt <a href="http://www.ptejteseknihovny.cz/">Ptejte se knihovny</a>
        </div>
      </div>  
      </div>

    </div>
  </div>

</div>


<script>
  $(document).ready(function() {
    $("#search-query").autocomplete({
      source: function(request, response) {
        $.ajax({
          url: "https://cpk-front.mzk.cz/AJAX/JSON", // change to beta.knihovny.cz after new release
          dataType: "json",
          data: {
            q: request.term,
            method:'getACSuggestions',
            searcher:'Solr'
          },
          success: function(data) {
            response(data.data);
          },
          error: function(xhr, ajaxOptions, thrownError) {
            //console.log(xhr.responseText + '; ' + ajaxOptions + '; ' + thrownError);
          }
        });
      },
      minLength: 3,
      select: function (event, ui) {        
        if(ui.item) {
          $("#search-query").val(ui.item.value);
          $("#search-form").submit(); 
        }                  
      }
    });
  });
</script>