<% provide(:title, t('milestones.page_title')) %>
<h1><%= t('milestones.page_header') %></h1>
<div class="cl-article">

<p>
<strong>
Snadná dostupnost internetu, a to i na mobilních zařízeních, digitalizace textů a 
rozšiřování elektronických zdrojů podstatným způsobem mění naše informační nároky. 
Prioritou se stává neomezený přístup k informacím a rychlá orientace v nich. To je také 
důvodem vzniku portálu Knihovny.cz, který sdružuje informační a knižní fondy českých 
knihoven a nabízí vám jejich efektivní vyhledávání a přehled.
</strong>
</p>

<p>
První úvahy o jednotném portálu pro české knihovny zazněly již v roce 2010 na výjezdním 
zasedání Ústřední knihovnické rady a přizvaných expertů. Potřeba podpory silných 
centrálních služeb se posléze stala jednou z priorit 
<strong>Koncepce rozvoje knihoven v České republice na léta 2011–2015</strong>, 
kterou schválila vláda jako strategii budoucího směřování 
českého knihovnictví. Hlavní pozornost je zde soustředěna na využití informačních a 
komunikačních technologií tak, aby každý z nás nezávisle na místě svého bydliště měl  
snadný přístup ke všem zdrojům, informacím a službám, které nabízí systém knihoven České 
republiky jako celek.
</p>

<p>
Myšlenka vytvoření centrálního portálu navazuje na již existující Souborný katalog ČR a 
Jednotnou informační bránu, přináší však nové funkcionality, které nebylo možné do těchto 
systémů začlenit.
</p>

<p>
V roce 2012 vznikl projektový záměr vývoje jednotného rozhraní českých knihoven s 
pracovním názvem
<strong>Centrální portál knihoven</strong>.
V úvodní fázi projektu bylo potřeba vyřešit 
mnoho technických aspektů. V České republice totiž existuje řada funkčních knihovnických 
systémů, které bylo nutné při tvorbě nového portálu respektovat, na druhé straně však také 
vzájemně propojit. Již v roce 2012 proběhlo první oslovení potenciálních dodavatelů 
technologického řešení. Ve stejném roce byl také zprovozněn portál Knihovny.cz informující 
o vývoji projektu. 
</p>

<p>
O rok později (2013) se již naplno rozběhly práce na realizaci portálu. Byly založeny čtyři 
pracovní skupiny složené z knihovníků i z řad nezávislých odborníků, které se zaměřily na 
realizaci jednotlivých cílů projektu. Současně byla ustanovena 
<strong>Rada Centrálního portálu knihoven</strong>
tvořená statutárními zástupci zúčastněných knihoven, která schvaluje výstupy 
pracovních skupin a rozhoduje o dalším postupu a vývoji.
</p>

<p>
V roce 2013 proběhl také dotazníkový průzkum mapující jak potřeby knihoven, tak 
samotných návštěvníků, který pomohl vytyčit hlavní úkoly, jež by měl vývoj nového portálu 
splnit. Stále se také hledal vhodný externí dodavatel technologického řešení. 
</p>

<p>
Rok 2014 znamenal výrazný posun. Došlo k dalšímu rozpracování projektového záměru 
portálu a vznikla také pracovní skupina pro jeho dlouhodobé organizační a finanční zajištění. 
Rada se odklonila od původního záměru a rozhodla se pro pilotní testování vývoje portálu 
přímo knihovnami prostřednictvím open source řešení. Tento klíčový úkol byl svěřen 
<strong>Moravské zemské knihovně v Brně</strong>. 
</p>

<p>
V roce 2015 již probíhal intenzivní technický vývoj portálu a příprava knihoven a knihovních 
systémů na zapojení se do něj. Tým odborníků využil zkušenosti získané dřívějším 
projektováním několika menších portálů, které v omezené míře uživatelům zpřístupňují z 
jednoho vyhledávacího okna data z různých knihovních katalogů. Pilotní verze portálu 
Knihovny.cz vznikla na open source platformě VuFind, kterou rovněž používá obdobný finský 
portál Finna.fi. 
</p>

<p>
Na podzim 2015 začal provoz beta verze portálu Knihovny.cz. Postupně jsou do něj 
začleňovány fondy zakládajících knihoven a testují se jeho další funkce. Souběžně s 
technickým vývojem probíhají práce na zlepšení služeb portálu tak, aby svým uživatelům 
poskytoval co nejjednodušší cestu k hledaným knihám, dokumentům a dalším zdrojům 
informací i k jednotlivým knihovnám. V říjnu 2015 došlo také ke změně organizační 
struktury. Nově vývoj portálu koordinuje Řídící výbor a na vývoji portálu spolupracuje tzv. 
Expertní tým, který nahradil stávající pracovní skupiny.
</p>

<p>
Spuštění ostré verze je plánováno na první pololetí roku 2016. 
<strong>
Portál Knihovny.cz jako 
centrální místo pro vstup do systému českých knihoven by měl do roku 2020 plnit svůj 
účel v plné míře a předpokládá se začlenění většiny knihoven v České republice.
</strong>
</p>

<p>
Více informací o zapojených knihovnách naleznete zde 
<%= link_to "Knihovny zapojené do projektu Knihovny.cz", zapojene_knihovny_path %>.
</p>

</div>