<% provide(:title, t('readers.page_title')) %>
<h1><%= t('readers.page_header') %></h1>
<div class="cl-article">

<h2>Týden knihoven</h2>

<p>
<strong>
	Týden knihoven je největší společnou událostí českých knihoven, která probíhá po celé 
	České republice v první polovině října. Tento největší knihovnický happening každoročně 
	láká na celou řadu společných i dílčích akcí, které se od roku 1996 těší stále větší oblibě 
	veřejnosti i samotných knihovníků. Novým uživatelům nabízí řada knihoven v tomto týdnu 
	bezplatnou registraci a těm stávajícím například mimořádnou amnestii, která promíjí 
	pokuty za opožděné vrácení knih.
</strong>
</p>

<p>
	Každý ročník má jiné téma, jež upozorňuje na konkrétní oblast knihovnických služeb, práci
	knihovníků či úlohu knihoven, která je i v dnešním digitálním světě nezastupitelná. 
	V minulosti se <a href="http://www.skipcr.cz/akce-a-projekty/akce-skip/tyden-knihoven/tyden-knihoven-5.-11.-rijna-2015-19.-rocnik">Týden knihoven</a> věnoval například knihovnám českých muzeí, lékařským 
	bibliotékám či tématům s motty jako <em>„Knihovna mého srdce“</em> či <em>„Zažijte knihovnu jinak“</em>.
</p>

<p>
	Během Týdne knihoven udílí ministr kultury ČR v Zrcadlové kapli Klementina cenu
	<a href="http://ipk.nkp.cz/knihovnicke-souteze-a-ceny/knihovna-roku/knihovna-roku-2015/knihovna-roku-ceny-pridelene-roku-2015">Knihovna roku</a>
	za dlouhodobou zásluhu o rozvoj knihovnictví v obcích nebo mimořádného přínosu k 
	rozvoji veřejných knihovnických a informačních služeb. Cena je udílena dvěma knihovnám – 
	jedné v kategorii základních knihoven, především v malých obcích, a další knihovně za 
	informační počin.
</p>

<p>
	Po celý týden zvou jednotlivé knihovny  čtenáře na besedy se spisovateli a pořady o knihách, 
	přednášky, kurzy, workshopy, dny otevřených dveří, autogramiády, soutěže, výstavy, 
	otevření nových oddělení knihoven, zkrátka vše, v čem se odráží nápaditost, kreativita a 
	invence knihovníků i knihoven. <strong>Maraton čtení</strong> nabízí přímý kontakt s autory a překladateli 
	literárních děl i odborné literatury a zejména velmi oblíbená autorská čtení. Knihovny touto 
	cestou čtenářům mimo jiné přibližuje autory a tituly nominované do soutěže Magnesia 
	Litera.
</p>



<h2>Březen, měsíc čtenářů</h2>

<p>
<strong>
	Březen, měsíc čtenářů, nabízí pestrý program zaměřený na jednotlivé čtenáře a čtení 
	samotné. V knihovnách si můžete například bezplatně vyzkoušet elektronické čtečky knih, 
	besedovat s autory knih, nechat si od knihovníků opravit přinesenou knihu, zasoutěžit si 
	v rychlém čtení nebo se dozvědět, co čte váš oblíbený autor.
</strong>
</p>

<p>
	V kalendáři knihoven se jedná o významnou událost, která vznikla na podporu čtení a 
	čtenářství. Během března se snaží knihovníci pomoci čtenářům, kteří knihovny běžně 
	nenavštěvují, objevovat vše, co jim knihovny mohou nabídnout. Svým pravidelným 
	čtenářům pak přináší vždy něco netradičního.
</p>

<p>
	Velké oblibě se těší <strong>Týden čtení aneb Čtení sluší každému</strong>, během něhož čtou děti seniorům 
	a naopak, zdraví nemocným a naopak, soutěží se ve čtení, předčítá se v cizích jazycích, 
	pořádají se non-stop čtení, čtení na netradičních místech a v netradiční hodinu a řada 
	dalších aktivit, jejichž společným jmenovatelem je právě čtení knih.
</p>

<p>
	Během března je udílena také cena <strong>Čtenář roku</strong>. Knihovny mezi svými čtenáři vybírají ty, 
	kteří vynikají v kategorii vyhlášené pro daný rok, například čtenáři do 15 let, čtenáři – 
	tatínkové, čtenářské rodiny apod. Celostátní Čtenář roku je pak každoročně vyhlášen při 
	předávání cen Magnesia Litera.
</p>

<p>
	Březen, měsíc čtenářů, každoročně vrcholí pohádkovým večerem s názvem 
	<a href="http://www.nocsandersenem.cz/">Noc s Andersenem</a>, určeným zejména dětským čtenářům.
	Noc s Andersenem zve děti do knihoven, škol i na další místa, kde je pro ně připraven pestrý celovečerní program.
	Ti neodvážnější zůstávají i přes noc a poslouchají pohádkové čtení na dobrou noc, než 
	spokojeně usnou ve spacáku mezi regály knih.
</p>

<p>
	Více informací o akcích pro děti si můžete přečíst
	<%= link_to "zde", children_path %>.
</p>
</div>