<% provide(:title, t('services.page_title')) %>
<h1><%= t('services.page_header') %></h1>
<div class="cl-article">

<p>
<strong>
Snadný přístup k fondům a půjčování z nich nejsou zdaleka jedinými službami, které vám 
knihovny nabízí. Jsou otevřeným místem pro všechny, kteří hledají informace, chtějí se 
připojit k internetu, potkávat se s dalšími lidmi nebo se zapojit do některé z akcí, které 
knihovny pravidelně pořádají. Knihovníci jsou zde pro vás a pomáhají vám orientovat se 
v informacích, knižních fondech i milionech digitálních dokumentů, připravují přednášky, 
školení a kurzy, stejně jako pravidelné kulturní programy. Knihovny představují klidné a 
inspirativní místo pro rozvíjení fantazie, zábavu i vzdělávání lidí v každém věku. 
</strong>
</p>



<h2>Co knihovny nabízí:</h2>
<ul>
<li>Přístup k informacím a literatuře každému</li>
<li>Půjčování knih a dalších dokumentů do knihovny i mimo ni</li>
<li>Odborné poradenství pracovníků knihovny</li>
<li>Pomoc při vyhledávání informací</li>
<li>Možnost pořizování kopií dokumentů</li>
<li>Příjemné prostředí pro vzdělávání a rozvíjení svých zájmů</li>
<li>Připojení k internetu</li>
<li>Digitalizaci dokumentů</li>
<li>Dětskou knihovnu a služby pro děti</li>
<li>Vzdělávací programy</li>
<li>Prostory pro kulturní akce</li>
</ul>



<h2>Výpůjční služby</h2>

<p>
Půjčování knih a dalších dokumentů v tištěné i elektronické podobě je jednou ze základních 
služeb knihoven, kterou můžete využít. Půjčovat si smíte jak v prostorách knihoven 
(prezenční výpůjčka), tak i mimo ně (absenční výpůjčka). Podmínky registrace čtenářů, 
pravidla využívání služeb knihoven a práva a povinnosti uživatele i knihoven naleznete v 
jejich knihovních řádech.
</p>

<p>
K výběru, vyhledání a objednání titulů slouží katalogy konkrétní knihovny, které jsou dnes ve 
většině případů volně přístupné na internetu. 
<strong>
Portál Knihovny.cz sdružuje velké množství 
katalogů různých knihoven po celé České republice do jedné databáze a umožňuje vám 
vyhledané tituly půjčovat, objednávat i stahovat.
</strong>
</p>

<p>
Délka výpůjčky je uvedena u každého dokumentu. Pokud o titul nemá zájem jiný čtenář, pak 
je většinou možné tuto dobu před skončením výpůjční lhůty prodloužit. V případě jejího 
překročení však po vás bude knihovna žádat poplatek za prodlení. Výše pokuty je uvedena v 
ceníku příslušné knihovny. Pokud dojde ke ztrátě či poškození dokumentu, požaduje 
knihovna knižní nebo finanční náhradu.
</p>



<h2>Pořizování kopií dokumentů (reprografické služby)</h2>

<p>
Za poplatek si můžete pořizovat kopie dokumentů z fondů knihovny. Jedná se o tzv. 
reprografické služby. Stejně jako na knihy v knihkupectvích i na tituly půjčované v 
knihovnách se vztahuje autorský zákon. Kopie z knihoven jsou proto určené pouze pro vaši 
osobní, vzdělávací a výzkumnou potřebu nebo vlastní potřebu organizace.
</p>

<p>
Reprografické služby nabízené v každé knihovně:
<ul>
<li>Samoobslužné kopírování v prostorách knihovny</li>
<li>Tištěné kopie na objednávku</li>
<li>Kopie z dokumentů z jiných knihoven v České republice nebo v zahraničí</li>
<li>Tisk (samoobslužný nebo na objednávku) z elektronických informačních zdrojů, internetu apod.</li>
</ul>
</p>

<p>
Některé knihovny v České republice nabízí i další reprografické služby, mezi které patří zejména: 
<ul>
<li>Digitální kopie prostřednictvím služeb elektronického dodávaní dokumentů</li>
<li>Digitální kopie autorsky volných děl prostřednictvím služby
<%= link_to "eBooks on Demand", projects_path(anchor: "project-02") %>
</li>
<li>Digitální kopie volných děl či děl, u kterých žadatel získal souhlas od držitele autorských práv</li>
<li>Kopie mikrofilmů, mikrofiší apod.</li>
</ul>
</p>

<p>
Ceník a rozsah služeb je uveden na internetových stránkách konkrétní knihovny. Sdělí vám 
jej také knihovníci přímo v knihovnách.
</p>

<p>
Kopie dokumentů si můžete objednat osobně v knihovně, dopisem nebo elektronicky, např. 
e-mailem či prostřednictvím speciálního formuláře. Některé reprografické služby knihovny 
poskytují pouze svým registrovaným uživatelům (např. kopie dokumentů z jiných knihoven) 
nebo na základě předem uzavřené smlouvy (např. služby elektronického dodávání 
dokumentů).
</p>



<h2>Odborné poradenství (referenční služby)</h2>

<p>
Knihovny slouží všem, kteří chtějí poradit, konzultovat či získat informace. Knihovníci jsou 
připraveni odpovědět na otázky, které vám pomohou při využívání knihovny, nalezení 
relevantních zdrojů či získání faktografických informací. 
</p>

<p>
Zeptat se knihovny můžete různými způsoby, od osobního kontaktu s knihovníkem až po 
elektronické cesty (např. e-mail nebo formulář na internetových stránkách). Některé 
knihovny nabízejí též konzultaci prostřednictvím chatu. S knihovníky a knihovnami můžete 
komunikovat také prostřednictvím služby <a href="http://www.ptejteseknihovny.cz/">Ptejte se knihovny</a>. 
Na svůj dotaz obdržíte odpověď do 2 pracovních dní.
</p>



<h2>Pomoc při vyhledávání (rešeršní služby)</h2>

<p>
Vyhledávání literatury k danému tématu poskytují knihovny prostřednictvím tzv. rešeršní 
služby. Výsledkem je rešerše – přehled  základních informací o dokumentech, tzv. soupis 
bibliografických citací (obsahuje jméno autora, název, vydavatele, rok vydání, počet stran, 
ISBN/ISSN). Před zadáním rešerše vám doporučujeme zvážit volbu knihovny, u které si ji 
objednáte. Nejvhodnější je ta, která svým zaměřením a fondem nejvíce koresponduje s 
daným tématem. 
</p>

<p>
Knihovny při zpracovávání rešerší zpravidla využívají své katalogy, české a zahraniční 
databáze, které pro své uživatele předplácejí, tištěné soupisy literatury (tzv. bibliografie), 
volně dostupné databáze, digitální knihovny apod. Podmínky zpracování rešerší se mohou v 
jednotlivých knihovnách lišit. Většinou se jedná o placenou službu. Konkrétní nabídku 
rešeršních služeb, podmínky vypracování a ceník jsou na internetových stránkách konkrétní 
knihovny nebo vám je sdělí knihovník.  
</p>



<h2>Co dalšího vám knihovny nabízejí?</h2>

<p>
Řada knihoven poskytuje svým návštěvníkům také další služby, jako například denní i noční 
studovny, čítárny denního tisku, samoobslužné vracení knih mimo otvírací dobu (bibliobox), 
půjčování deskových her, dětské koutky, specializované služby pro seniory a zdravotně 
handicapované (donášku knih až do domu, speciální fondy, parkování), knihařské služby 
(laminování, kroužková nebo pevná vazba a související činnosti) či poslechová místa pro 
hudbu a sledování videí z fondu knihovny. 
</p>

<p>
Detailní přehled nabízených služeb naleznete na internetových stránkách konkrétní 
knihovny nebo se můžete informovat přímo u knihovníka. Chcete hledat knihovnu podle 
nabídky specifických služeb? Využijte pokročilého vyhledávání knihoven na portálu 
Knihovny.cz.
</p>


</div>