<% provide(:title, t('events.page_title')) %>
<div>
	<h1>
		<%= t('events.page_header') %>
		<%= link_to "+", new_event_path %> 
	</h1>

	<div class="cl-event-list">
		<%= render @events %>
	</div>
	<%= will_paginate @libraries, class: "pagination cl-pagination-centered"%>
</div>