<div>
<h1>
<%= t('events.title') %>
<%= link_to "+", new_event_path %> 
</h1>


<div class="cl-event-list row2">
	<%= render @events %>
</div>
<%= will_paginate @libraries, class: "pagination cl-pagination-centered"%>

</div>