<div class="cl-projects">
	<h1><%= t('projects.title') %></h1>
	<p class="cl-message">
		Současné projekty knihoven odráží změny, které přinesl rozvoj online technologií,digitalizace knihovních fondů, nárůst informací i nové možnosti vzdáleného přístupu k nim. Úkolem knihoven v 21. století je hledat nové funkce, které umožní shromažďování a třídění tohoto obrovského množství dat, a využít při tom moderní technologie tak, aby každý z nás mohl objevovat bohaté kulturní dědictví v pohodlí, kdekoli a kdykoli.
	</p>
	<div class="cl-project-list">
		<%= render @projects %>
	</div>

</div>