<% provide(:title, t('projects.page_title')) %>
<div class="cl-projects">
	<h1><%= t('projects.page_header') %></h1>
	<p class="cl-description"><%= t('projects.description') %></p>
	<div class="cl-project-list">
		<%= render @projects %>
	</div>
</div>