/*$color-primary: #107067; */

/*$color-primary: #AD129E;*/
$color-primary: #E10F4E;

$brand-primary:         $color-primary !default;
$brand-success:         #5cb85c !default;
$brand-info:            #898989 !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;


@import "bootstrap-sprockets";
@import "bootstrap";



$gray-medium-light: #eaeaea;
$gray-light: #777777;

/* universal */

body {
  padding-top: 60px;
}

html, body {
  height: 100%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

input[type='submit'] {
  background: $color-primary;
  color: #fff;
  padding: 5px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  color: #555555;  
  font-size: 21px;
  font-family: inherit;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
*/
/*
h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}
*/
p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */


.flash {
  margin-bottom:20px;
}

.flash-notice {
  color:#0E8D0E; 
}

.flash-alert {
  color:#8D0E0E; 
}


a:hover, a:focus, a:active {
  text-decoration: none;
}



.cl-logo {
  height: 50px;
  width: auto;
  padding: 2px 0px;
}


.cl-map {
  height: 100%;
  padding-bottom: 15px;
}

.cl-marker-info {
  .cl-title {
    color: #333;
    font-size: 16px;
    margin-top: 2px    
  }
  .cl-subtitle {
    color: #888;
    font-size: 14px;
    margin-bottom: 3px;
  }
}

.pagination {
  margin-top: 20px;
  margin-bottom: 0px;
  @media (max-width: 630px) {
    li {
      display: none;
      &.active,&.prev,&.next {
        display: inline;
      }
    }
  }
}

.form-control:focus {
  border-color: $color-primary;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px #E10F4E;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px #E10F4E;
}


.cl-library-detail {  
  h2 {
    color: #555555;
    font-size: 21px;
    margin-bottom: 20px;
  }
  .cl-address {
    margin-bottom: 8px;
    img {
      width:20px;
      height:20px;
      padding-right: 2px;
      padding-bottom: 2px;
    }
    .cl-address-text {
      color: #777777;
      font-size: 14px;
    }
  }
  .cl-links {
    padding: 5px 0px 15px 0px;
    .cl-btn {
      margin-right:10px;
      border-radius: 2px;
    }
  }
  .cl-right {
    padding-left: 0px;
    /*border-left:1px solid #ddd;*/
  }
  p {
    margin-bottom: 0px;
    color: #464646;
  }
  .cl-contact-wrapper {
    padding-top: 10px;
    padding-left: 10px;
    .cl-category {
      margin-top: 10px;
      margin-bottom: 10px;
      padding-bottom: 10px;      
      .cl-title {
        color: #666666;
        font-size: 20px;
        margin-bottom: 8px;
      }
      .cl-items {
        .cl-item {
          color: #777777;
          font-size: 14px;          
        }
        .cl-person {
          .cl-person-name {
            color: #666666;
            font-size: 15px;     
          }
          .cl-person-contact {
            color: #888888;
            font-size: 14px;     
          }
        }
      }
    }
  }
}

.cl-border-bottom {
  border-bottom: 1px solid #ddd;
}

.cl-pagination-centered {
  width: 100%;
  text-align: center;
}

.cl-districts {
  .cl-list {
    .cl-list-item {
      padding: 5px;
      cursor: pointer;
      &:hover {
        background: #f7f7f7;
      }
      border-bottom: 1px solid #eee;
      .cl-name {
        font-size: 18px;
        color: #333;
      }
      .cl-count {
        font-size: 16px;
        color: #999;   
      }
    }
  }
}

.btn {
  border-radius: 0px !important;
}


.cl-home {
  padding-top: 15px;
  .cl-search-label {        
    font-size: 16px;
    color: #444444;
    margin-bottom: 5px;
  }
  .cl-library-count {
    font-size: 12px;
    color: #888888;
    margin-top: 0px;
  }
  .cl-psk {
    padding-top: 10px;
    .cl-title {
      margin-bottom: 8px;
      font-size: 17px;
      color: #777777;
      padding-bottom: 5px;
      border-bottom: 1px solid #eee;
    }
    .cl-question {
      margin-bottom: 5px;
      font-size: 15px;
      color: #555;
    }
    .cl-question-body {
      margin-bottom: 4px;
      font-size: 14px;
      color: #777;
    }
    .cl-btns {
      margin-top: 6px;
      margin-bottom: 10px;
      .cl-btn {
        margin-right:10px;
        border-radius: 0px;
      }
    }
    .cl-text {
      color: #666;
      font-size: 14px;
      margin-top: 5px;
    }
  }
}


.cl-search {
  clear: both;
  display: inline-block;
  width: 100%;
  margin-top:0px;
  margin-bottom: 0px;   
  .cl-search-input {
    float:left;
    margin-bottom: 0px;
    width:calc(100% - 160px);
    @media (max-width: 480px) {
      width: 100%;
    }      
  }
  .cl-search-submit {      
    float:right;
    width:150px;
    @media (max-width: 480px) {
      display: none;
    }
  }
}


.cl-libraries {
  
  .cl-list {
    margin-top: 15px;
    .cl-list-item {
      padding: 5px 5px 10px 5px;
      cursor: pointer;
      &:hover {
        background: #f7f7f7;
      }
      &.odd {
        background-color: #f4f4f4;
      }
      border-bottom: 1px solid #eee;
      .library-name {
        font-size: 16px;
        color: #333;
        padding-left: 2px;
        margin-bottom: 5px;
      }
      .library-address {
        color: #777777;
        font-size: 14px;
        img {
          width:18px;
          height:18px;
          padding-right: 2px;
          padding-bottom: 2px;
        }


      }
    }
  }
}


.navbar-inverse {
  background-color: $color-primary;
  border-color: #cccccc;
}

.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-collapse {
  border-color: #fff !important;;
}

.navbar-toggle {
  border-color: transparent !important;;
  &:hover {
    background-color: transparent !important;;
  }
  &:focus {
    background-color: transparent !important;;
  }
}


#logo {
  font-size: 1.5em;
  color: #fff;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}


/* footer */

footer {
  border-top: 1px solid #bbbbbb;     
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow:hidden;
  color: #666666;
  padding: 5px; 
    /*
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
  	float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }*/

}



@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

