<footer class="footer">
  <div>
  <%= t('footer.admin.label') %> <a href="<%= t('footer.admin.url') %>"><%= t('footer.admin.name') %></a> |
  <%= link_to t('footer.about'), about_path %></li>
  </div>
</footer>