<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "České knihovny", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Seznam knihoven", libraries_path %></li>
      </ul>
    </nav>
  </div>
</header>